[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
alembic = "*"
SQLAlchemy = "*"
python-jose = "*"
python-multipart = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.passlib]
extras = [ "bcrypt",]

[packages.databases]
extras = [ "postgresql",]

[packages.pydantic]
extras = [ "dotenv",]
